* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    background-color: #484848;
    color: #000000;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #000000;
    z-index: 1000;
}

nav img {
    text-align: left;
    height: 50px;
}

nav {
    background-color: #ffffff;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

main {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

main h2{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
}

main p {    
    color: #000000;
}

#boton{
    text-align: center;
    margin-top: 15px;
}

main button {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7.5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info{
    max-width: 1000px;
    text-align: left;
    padding: 10px 10px;
    color: #000000;
    background-color: #dfdfdf;
}

#info h3{
    margin-bottom: 10px;
}

#descripcion{
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 15px;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    margin-top: 3.0px;
    border-top: #000000 2px solid;
}