* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    background-color: #eaeaea;
    color: #000000;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom: 2px solid #000000;
    z-index: 1000;
}

header #logo{
    position: absolute;
    left: 20px;
}

header #logo img {
    height: 50px;
}

nav {
    background-color: #ffffff;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #000000;
    color: #ffffff;
}

main {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    padding-top: 120px;
    width: 1200px;
    margin: 0 auto;
    border-left: #000000 solid 2px;
    border-right: #000000 solid 2px;
}

main h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

main h2{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 10px;
}

#boton{
    text-align: center;
    margin-top: 15px;
}

main button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 7.5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

main button:hover {
    transform: scale(1.1);
}


main button:visited {
    color: #ffffff;
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info {
    max-width: 1000px;
    color: #000000;
    background-color: #ffffff;
    border: #000000 solid 2px;
    margin: 10px;
    display: flex;
}

#info-contenido{
    margin: 10px;
}

#info-img{
    padding: 0;
    border-left: #000000 solid 2px;
    text-align: right;
    height: 150px;
}

#info-img img{
    height: 100%;
}

#descripcion{
    max-width: 1000px;
    margin-top: 10px;
    color: #000000;
}

#imagen-centro img{
    width: 150px;
    border: #000000 solid 2px;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    margin-top: 3.0px;
    border-top: #000000 2px solid;
    width: 100%;
}